<%
var header_nav_items = [
  {
    'title': 'Item',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("item-ul")'
  },
  {
    'title': 'Asset',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("asset-ul")'
  },
  {
    'title': 'Another',
    'subNavFunction': 'MAIN.HEADER.loadSubNav("another-ul")'
  }
];

var sub_nav_items = [
  {
    'id': 'item-ul',
    'class': 'hide',
    'li_items': [
       {
         'title': 'Add',
         'subNavFunction': 'MAIN.ITEM.showItemAddView()'
       },
       {
         'title': 'Edit',
         'subNavFunction': 'MAIN.ITEM.showItemEditView()'
       },
       {
         'title': 'Delete',
         'subNavFunction': 'MAIN.ITEM.showItemDeleteView()'
       }
    ]
  },
  {
    'id': 'asset-ul',
    'class': 'hide',
    'li_items': [
      {
        'title': 'Add',
        'subNavFunction': 'MAIN.ASSET.showAssetAddView()'
      },
      {
        'title': 'Edit',
        'subNavFunction': 'MAIN.ASSET.showAssetEditView()'
      },
      {
        'title': 'Delete',
        'subNavFunction': 'MAIN.ASSET.showAssetDeleteView()'
      }
    ]
  },
  {
    'id': 'another-ul',
    'class': 'hide',
    'li_items': [
      {
        'title': 'One',
        'subNavFunction': 'MAIN.ANOTHER.addItems()'
      },
      {
        'title': 'Two',
        'subNavFunction': 'MAIN.ANOTHER.editItems()'
      },
      {
        'title': 'Three',
        'subNavFunction': 'MAIN.ANOTHER.deleteItems()'
      }
    ]
  }
];
%>

<script>
  var MAIN = (function (main) {
    var sub_nav_ids = null
      , sub_navs = null
      , current_showing_sub_nav = null;

    // Header Nav Functions
    main.HEADER = main.HEADER || {};

    main.HEADER.init = function () {
      sub_nav_ids = [
        'item-ul',
        'asset-ul',
        'another-ul'
      ];

      sub_navs = {
        'item-ul': document.getElementById('item-ul'),
        'asset-ul': document.getElementById('asset-ul'),
        'another-ul': document.getElementById('another-ul')
      };
    };

    main.HEADER.loadSubNav = function (sub_nav) {
      console.log("loadSubNav");
      console.log("sub_navs: ", sub_navs);
      if (current_showing_sub_nav !== sub_nav) {
        console.log('Processing');
        sub_nav_ids.forEach(function (currentSubNav) {
          if (currentSubNav !== sub_nav) {
            sub_navs[currentSubNav].className = 'hide';
          } else {
            current_showing_sub_nav = sub_nav;
            sub_navs[sub_nav].className = '';
          }
        });
      }
    };

    return main;
  })(MAIN || {});
</script>

<header>
  <nav id="header-nav">
    <ul>
      <li class="selected"
          onclick="<%= header_nav_items[0].subNavFunction %>"><%= header_nav_items[0].title %></li>
    <%
    var length = header_nav_items.length;
    for (var i = 1; i < length; i++) { %>
      <li onclick="<%= header_nav_items[i].subNavFunction %>"><%= header_nav_items[i].title %></li>
    <% } %>
    </ul>
  </nav>
</header>

<section id="section-sub-nav">
  <nav id="sub-nav">
    <% sub_nav_items.forEach(function (ul_item) { %>
    <ul id="<%= ul_item.id %>" class="<%= ul_item.class %>">
      <% ul_item.li_items.forEach(function (li_item) { %>
      <li onclick="<%= li_item.subNavFunction %>"><%= li_item.title %></li>
      <% })%>
    </ul>
    <% }); %>
  </nav>
</section>
