<%
var sub_nav_ids = [
  'section-item-sub-nav',
  'section-asset-sub-nav',
  'section-report-sub-nav'
];
var header_li_ids = [
  'header-li-item',
  'header-li-asset',
  'header-li-report'
];
var header_nav_items = [
  {
    'title': 'Item',
    'id': header_li_ids[0],
    'subNavFunction': 'MAIN.HEADER.loadSubNav("' + sub_nav_ids[0] + '")'
  },
  {
    'title': 'Asset',
    'id': header_li_ids[1],
    'subNavFunction': 'MAIN.HEADER.loadSubNav("' + sub_nav_ids[1] + '")'
  },
  {
    'title': 'Report',
    'id': header_li_ids[2],
    'subNavFunction': 'MAIN.HEADER.loadSubNav("' + sub_nav_ids[2] + '")'
  }
];
%>

<script>
  var MAIN = (function (main) {
    var sub_nav_ids = null
      , sub_navs = null
      , header_li_items = null
      , current_showing_sub_nav = null;

    // Header Nav Functions
    main.HEADER = main.HEADER || {};

    main.HEADER.init = function () {
      main_content_container = document.getElementById('section-main');
      header_li_items = {
        '<%= sub_nav_ids[0] %>': document.getElementById('<%= header_li_ids[0] %>'),
        '<%= sub_nav_ids[1] %>': document.getElementById('<%= header_li_ids[1] %>'),
        '<%= sub_nav_ids[2] %>': document.getElementById('<%= header_li_ids[2] %>')
      };
      sub_navs = {
        '<%= sub_nav_ids[0] %>': document.getElementById('<%= sub_nav_ids[0] %>'),
        '<%= sub_nav_ids[1] %>': document.getElementById('<%= sub_nav_ids[1] %>'),
        '<%= sub_nav_ids[2] %>': document.getElementById('<%= sub_nav_ids[2] %>')
      };
    };

    main.HEADER.loadSubNav = function (sub_nav) {
      console.log("loadSubNav");

      if (current_showing_sub_nav === null) {
        // Highlight header nav li
        header_li_items[sub_nav].className = 'selected';

        // Show the subnav
        sub_navs[sub_nav].className = '';

        // Set the current showing sub nav
        current_showing_sub_nav = sub_nav;
      } else if (current_showing_sub_nav === sub_nav) {
        console.log("Switching");

        // Toggle the header nav li and subnav based on if the header nav li is selected
        if (header_li_items[sub_nav].className === 'selected') {
          header_li_items[sub_nav].className = '';
          sub_navs[sub_nav].className = 'hide';
        } else {
          header_li_items[sub_nav].className = 'selected';
          sub_navs[sub_nav].className = '';
        }

        // Hide any views that may be showing
        if (main.HEADER.current_view) {
          main.HEADER.current_view.className = 'hide';
        }
        // De-select any previously selected subnav
        if (main.HEADER.selected_subnav) {
          main.HEADER.selected_subnav.className = '';
        }
      } else {
        // De-select the current header nav li
        header_li_items[current_showing_sub_nav].className = '';
        // Hide the current subnav
        sub_navs[current_showing_sub_nav].className = 'hide';

        // Select the header nav li the user just clicked on
        header_li_items[sub_nav].className = 'selected';
        // Load the subnav the user wants
        sub_navs[sub_nav].className = '';

        // Set the current showing sub nav
        current_showing_sub_nav = sub_nav;

        // Hide any views that may be showing
        if (main.HEADER.current_view) {
          main.HEADER.current_view.className = 'hide';
        }
        // De-select any previously selected subnav
        if (main.HEADER.selected_subnav) {
          main.HEADER.selected_subnav.className = '';
        }
      }
    };

    return main;
  })(MAIN || {});
</script>

<header>
  <div class="header-div">
    <div></div> <!-- For spacing -->
    <div class="logo-container">
      <a class="logo"
         href="/">NationBudget</a>
    </div>
    <div class="signout-button-container">
      <input class="signout-button"
             type="button"
             value="Sign Out"
             onclick="MAIN.signout()">
    </div>
  </div>
  <nav id="header-nav">
    <ul>
    <% var length = header_nav_items.length;
    for (var i = 0; i < length; i++) { %>
      <li id="<%= header_nav_items[i].id %>"
          onclick="<%= header_nav_items[i].subNavFunction %>"><%= header_nav_items[i].title %></li>
    <% } %>
    </ul>
  </nav>
</header>
