<%
var item_view_ids = [
  'div-item-add-view',
  'div-item-edit-view',
  'div-item-delete-view'
];

var sub_nav_ids = [
  'sub-nav-item-li-add',
  'sub-nav-item-li-edit',
  'sub-nav-item-li-delete'
];

var sub_nav = [
  {
    'title': 'Add',
    'id': sub_nav_ids[0],
    'subNavFunction': 'MAIN.ITEM.loadView("' + item_view_ids[0] + '")'
  },
  {
    'title': 'Edit',
    'id': sub_nav_ids[1],
    'subNavFunction': 'MAIN.ITEM.loadView("' + item_view_ids[1] + '")'
  },
  {
    'title': 'Delete',
    'id': sub_nav_ids[2],
    'subNavFunction': 'MAIN.ITEM.loadView("' + item_view_ids[2] + '")'
  }
];
%>

<script>
  var MAIN = (function (main) {
    var item_views = null
      , sub_nav_li_items = null
      , current_showing_item_view = null;

    main.HEADER = main.HEADER || {};

    main.ITEM = {};

    main.ITEM.init = function () {

      sub_nav_li_items = {
        '<%= item_view_ids[0] %>': document.getElementById('<%= sub_nav_ids[0] %>'),
        '<%= item_view_ids[1] %>': document.getElementById('<%= sub_nav_ids[1] %>'),
        '<%= item_view_ids[2] %>': document.getElementById('<%= sub_nav_ids[2] %>')
      };

      item_views = {
        '<%= item_view_ids[0] %>': document.getElementById('<%= item_view_ids[0] %>'),
        '<%= item_view_ids[1] %>': document.getElementById('<%= item_view_ids[1] %>'),
        '<%= item_view_ids[2] %>': document.getElementById('<%= item_view_ids[2] %>')
      };
    };

    main.ITEM.loadView = function (viewToLoad) {
      console.log("loadSubNav");

      if (current_showing_item_view === null) {
        // Highlight subnav li
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Show the item view
        item_views[viewToLoad].className = '';
        // Set the current showing item view
        current_showing_item_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = item_views[viewToLoad];
      } else if (current_showing_item_view === viewToLoad) {
        console.log("Switching");

        if (sub_nav_li_items[viewToLoad].className === 'selected') {
          // Unselect stuff
          sub_nav_li_items[viewToLoad].className = '';
          main.HEADER.selected_subnav = null;
          item_views[viewToLoad].className = 'hide';
          main.HEADER.current_view = null;
        } else {
          // Select stuff
          sub_nav_li_items[viewToLoad].className = 'selected';
          main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
          item_views[viewToLoad].className = '';
          main.HEADER.current_view = item_views[viewToLoad];
        }
      } else {
        // De-select the current sub nav
        sub_nav_li_items[current_showing_item_view].className = '';
        // Hide the current item view
        item_views[current_showing_item_view].className = 'hide';

        // Select the tab the user just clicked on
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Load the tab the user wants
        item_views[viewToLoad].className = '';

        // Set the current showing item view
        current_showing_item_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = item_views[viewToLoad];
      }
    };

    return main;
  })(MAIN || {});
</script>

<section id="section-item-sub-nav" class="hide">
  <nav id="sub-nav">
    <ul id="ul-item">
      <% sub_nav.forEach(function (li_item) { %>
      <li id="<%= li_item.id %>"
          onclick="<%= li_item.subNavFunction %>"><%= li_item.title %></li>
      <%}); %>
    </ul>
  </nav>
</section>

<% include ./itemaddview.ejs %>
<% include ./itemeditview.ejs %>
<% include ./itemdeleteview.ejs %>
