<%
var report_view_ids = [
  'div-report-1-view',
  'div-report-2-view',
  'div-report-3-view'
];

var sub_nav_ids = [
  'sub-nav-report-li-add',
  'sub-nav-report-li-edit',
  'sub-nav-report-li-delete'
];

var sub_nav = [
  {
    'title': 'Report 1',
    'id': sub_nav_ids[0],
    'subNavFunction': 'MAIN.REPORT.loadView("' + report_view_ids[0] + '")'
  },
  {
    'title': 'Report 2',
    'id': sub_nav_ids[1],
    'subNavFunction': 'MAIN.REPORT.loadView("' + report_view_ids[1] + '")'
  },
  {
    'title': 'Report 3',
    'id': sub_nav_ids[2],
    'subNavFunction': 'MAIN.REPORT.loadView("' + report_view_ids[2] + '")'
  }
];
%>

<script>
  var MAIN = (function (main) {
    var report_views = null
      , sub_nav_li_items = null
      , current_showing_report_view = null;

    main.HEADER = main.HEADER || {};

    main.REPORT = {};

    main.REPORT.init = function () {
      sub_nav_li_items = {
        '<%= report_view_ids[0] %>': document.getElementById('<%= sub_nav_ids[0] %>'),
        '<%= report_view_ids[1] %>': document.getElementById('<%= sub_nav_ids[1] %>'),
        '<%= report_view_ids[2] %>': document.getElementById('<%= sub_nav_ids[2] %>')
      };

      report_views = {
        '<%= report_view_ids[0] %>': document.getElementById('<%= report_view_ids[0] %>'),
        '<%= report_view_ids[1] %>': document.getElementById('<%= report_view_ids[1] %>'),
        '<%= report_view_ids[2] %>': document.getElementById('<%= report_view_ids[2] %>')
      };
    };

    main.REPORT.loadView = function (viewToLoad) {
      console.log("loadSubNav");

      if (current_showing_report_view === null) {
        // Highlight subnav li
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Show the item view
        report_views[viewToLoad].className = '';
        // Set the current showing item view
        current_showing_report_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = report_views[viewToLoad];
      } else if (current_showing_report_view === viewToLoad) {
        console.log("Switching");

        if (sub_nav_li_items[viewToLoad].className === 'selected') {
          // Unselect stuff
          sub_nav_li_items[viewToLoad].className = '';
          main.HEADER.selected_subnav = null;
          report_views[viewToLoad].className = 'hide';
          main.HEADER.current_view = null;
        } else {
          // Select stuff
          sub_nav_li_items[viewToLoad].className = 'selected';
          main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
          report_views[viewToLoad].className = '';
          main.HEADER.current_view = report_views[viewToLoad];
        }
      } else {
        // De-select the current sub nav
        sub_nav_li_items[current_showing_report_view].className = '';
        // Hide the current item view
        report_views[current_showing_report_view].className = 'hide';

        // Select the tab the user just clicked on
        sub_nav_li_items[viewToLoad].className = 'selected';
        // Load the tab the user wants
        report_views[viewToLoad].className = '';

        // Set the current showing item view
        current_showing_report_view = viewToLoad;
        main.HEADER.selected_subnav = sub_nav_li_items[viewToLoad];
        main.HEADER.current_view = report_views[viewToLoad];
      }
    };

    return main;
  })(MAIN || {});
</script>

<section id="section-report-sub-nav" class="hide">
  <nav id="sub-nav">
    <ul id="ul-report">
      <% sub_nav.forEach(function (li_item) { %>
      <li id="<%= li_item.id %>"
          onclick="<%= li_item.subNavFunction %>"><%= li_item.title %></li>
      <%}); %>
    </ul>
  </nav>
</section>

<% include ./report1view.ejs %>
<% include ./report2view.ejs %>
<% include ./report3view.ejs %>
